DirectoryIndex site_map/index.php

#Enable modRewrite
#------------------------------------
RewriteEngine  on
RewriteBase /Lframework/


#disable rewrite for specific folders
#------------------------------------
RewriteCond %{REQUEST_URI} !(public) [NC]
RewriteCond %{REQUEST_URI} !(css) [NC]
RewriteCond %{REQUEST_URI} !(js) [NC]



RewriteRule ^(.+)$  site_map/index.php?url=$1 [PT,QSA]