<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="{metaDesc}">
	<meta name="keywords" content="{metaKey}">
	<title>{titulo}</title>
	<base href="http://localhost/Lframework/site_map" />
	<link rel="stylesheet" href="site_map/css/responsiveGrid.css" />
	<link rel="stylesheet" href="site_map/css/normalize.css" />
	<link rel="stylesheet" href="site_map/css/Lframework.css" />
	<script src="site_map/js/lf.js" type="text/javascript" charset="utf-8" async defer></script>
	
</head>
<body>
	<div id="caja_principal">
		<header id="cabecera">
			<h1>{titulo}</h1>
			<div>
				<?php
					@session_start();
						echo @$_SESSION['userName'];
				?>
			</div>
		</header>
		<nav id="menu">
			<ul>
				<li><a href="{VIEW_INI}">Inicio</a></li>
				<li><a href="{VIEW_ABOUT}">About</a></li>
				<li><a href="usuarios/signup">Registro</a></li>
				<?php
					@session_start();
				 		if(isset($_SESSION['userName']))
				 			echo '<li><a href="usuarios/logout">Logout</a></li>';
				 		else
				 			echo '<li><a href="usuarios/login">Login</a></li>';
				 ?>
				
				
			</ul>
		</nav>