<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="{metaDesc}">
	<meta name="keywords" content="{metaKey}">
	<title>{titulo}</title>
	<base href="http://localhost/Lframework/site_map" />
	<link rel="stylesheet" href="site_map/css/responsiveGrid.css" />
	<link rel="stylesheet" href="site_map/css/normalize.css" />
	<link rel="stylesheet" href="site_map/css/Lframework.css" />
	
</head>
<body>
	<div id="caja_principal">
		<header id="cabecera">
			<h1>{titulo}</h1>
		</header>
		<nav id="menu">
			<ul>
				<li><a href="{VIEW_INI}">Inicio</a></li>
				<li><a href="{VIEW_ABOUT}">About</a></li>
			</ul>
		</nav>