<section id="area_principal">
<article>
	
	

	<div class="row">
		<div class="col s12 car card-panel blue-grey lighten-5">
		<br>
		<br>
		<br>
			<div class="row">
				<div class="col s12 center-align">
					<h4>{subtitulo}</h4>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col s12">
				  	<form action="usuarios/pass" id="formPass" method="POST">
					    <div class="row paddingSingUp">
						    <div class="input-field col s6 offset-s3"><br>
							        <label for="passAnt">Contraseña actual</label>
									<input type="password" id="passAnt" name="passAnt" class="validate" required>
						     </div>
							<div class="divider col s12"></div>
						     <div class="input-field col s6"><br><br>
							        <label for="passN">Contraseña nueva</label>
									<input type="password" id="passN" name="passN" class="validate" required>
						     </div>
						     <div class="input-field col s6"><br><br>
							        <label for="r_pass">Repite la contraseña</label>
									<input type="password" id="r_pass" name="r_pass" class="validate" required>
						     </div>
							<div class="divider col s12"></div>
						      <br>
						      <br>
						      <br>
						      <br>
						      <br>
						      <div class="row center">
						      		<div class="marginTop">
							      		<button class="btn login" onclick="goBack();">Atrás
											    <i class="mdi-navigation-refresh right"></i>
										</button>
								      <button class="btn login" type="submit" id="add" name="add">Modificar
									    <i class="mdi-editor-border-color right"></i>
									  </button>
									</div>
							  </div>
					    </div>
				  </form>
				</div>
			</div>
		</div>
	</div>
</article>