<section id="area_principal">
<article>
	<div>
		{subtitulo}
	</div>
	<div>
		<nav id="menu">
			<ul>
				<li><a href="{VIEW_ADD}">Añadir usuario</a></li>
				<li><a href="{VIEW_LIST}">Mostrar usuarios</a></li>
			</ul>
		</nav>
	</div>
	<div>
		<table border="1">
			<th>
				<tr>
					<td>Id</td>
					<td>Nombre</td>
					<td>Apellido 1</td>
					<td>Apellido 2</td>
					<td>Usuario</td>
					<td>Email</td>
					<td>Tipo usuario</td>
					<td colspan="2">Acciones</td>
				</tr>
			</th>
				{data}

		</table>



	</div>


</article>
