<section id="area_principal">
<article>
		<!-- <nav id="menu">
			<ul>
				<li><a href="{VIEW_ADD}">Añadir usuario</a></li>
				<li><a href="{VIEW_LIST}">Mostrar usuarios</a></li>
			</ul>
		</nav> -->

	
<br>
	<div>
		<h5 class="header">
			<blockquote>
	     		{subtitulo}			
	    	</blockquote>
    	</h5>
		<table style="border: 1px ;">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido 1</th>
					<th>Apellido 2</th>
					<th>Usuario</th>
					<th>Email</th>
					<th>Activo</th>
					<th>Tipo usuario</th>
					<th colspan="2">acciones</th>
				</tr>
			</thead>
			<tbody>
				{data}
			</tbody>
		</table>
		<a href="{VIEW_ADD}" class="add-user btn-floating btn-large waves waves-effect red"><i class="mdi-content-add"></i>Nuevo usuario</a>

		

	</div>
	<br>

</article>
