
<section id="area_principal">
<article>
	<div>
		{subtitulo}
	</div>
	
	<br/><br/><br/>
	<form action="usuarios/edit" method="POST">
		<fieldset>
			<label for="nombre">Nombre</label>
				<input type="text" id="nombre" name="nombre" value="{nombre}">
			<label for="apellido1">Primer apellido</label>
				<input type="text" id="apellido1" name="apellido1" value="{apellido1}">
			<label for="apellido2">Segundo apellido</label>
				<input type="text" id="apellido2" name="apellido2" value="{apellido2}">
			<label for="usuario">Nombre de usuario</label>
				<input type="text" id="usuario" name="usuario" value="{usuario}">
			<label for="email">Email</label>
				<input type="text" id="email" name="email" value="{email}"><br/>
			<?php @session_start(); if($_SESSION['userPerm'] == 1): ?>
			<select type="text" id="tipoUsuario" name="tipoUsuario">
					<?php 
						@session_start();

						if(@$_SESSION['userPermAux'] == 1){
							echo '<option value="1" selected="selected">Admin</option>';
						}
						else{
							echo '<option value="1">Admin</option>';
						}

						if(@$_SESSION['userPermAux'] == 2){

							echo '<option value="2" selected="selected">Documentalista</option>';
						}
						else{
							echo '<option value="2">Documentalista</option>';
						}

						if(@$_SESSION['userPermAux'] == 3){
						echo '<option value="3" selected="selected">Usuario</option>';
						}
						else{
							echo '<option value="3">Usuario</option>';
						}
					?>
		
				</select>
			<?php endif ?>
			<input type="submit" value="Modificar" id="add" name="add">
		</fieldset>
	</form>
</article>