		<section id="area_principal">
			<article>
				<header>
					<hgroup>
						<h1>Bienvenido a MVCFW</h1>
						<h2>Framework MVC ligero para php</h2>
					</hgroup>
					<time datetime="{fecha}">Publicado el {fecha} {hora}</time>
				</header>

				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ut reprehenderit quos, alias at quam est, quo veritatis laborum libero voluptatum odio neque eveniet suscipit accusamus quidem, vitae iste error.

				<figure>
					<img src="http://img3.wikia.nocookie.net/__cb20110914004913/half-life/en/images/2/21/Citadel_Core_logo.svg" alt="core">
					<figcaption>
						Esta es la imagen de la primera entrada
					</figcaption>
				</figure>
	
				<footer>
					<p>Comentarios [0]</p>
				</footer>
			</article>
